APP_NAME="Estaciones Meteorológicas"
APP_ENV=local
APP_KEY=base64:06Iqql5jYIknDxNpzzG05wf0CcyGKJ1a6Qv2oZMUQSk=
APP_DEBUG=true
APP_URL=$IONOS_APP_URL

APP_LOCALE=es
APP_FALLBACK_LOCALE=es
APP_FAKER_LOCALE=es_ES

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=daily
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug


DB_CONNECTION=mysql
DB_HOST=$IONOS_DB_HOST
DB_PORT=3306
DB_DATABASE=$IONOS_DB_NAME
DB_USERNAME="$IONOS_DB_USERNAME"
DB_PASSWORD="$IONOS_DB_PASSWORD"

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_SCHEME=null
MAIL_HOST=$IONOS_MAIL_HOST
MAIL_PORT=$IONOS_MAIL_PORT
MAIL_USERNAME="$IONOS_MAIL_USERNAME"
MAIL_PASSWORD="$IONOS_MAIL_PASSWORD"
MAIL_FROM_ADDRESS=$IONOS_MAIL_FROM_ADDRESS
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

APPLICATION_KEY_ECOWITT="BBC859F03CCDB45FF58B6634980265B0,4306FB8EA4FFB00F0C981B0C0B00D7E2,41DCF8360BC976ADAAF2C27AF617CEA4"
API_KEY_ECOWITT="dc8e27fa-131f-4d3e-ba8e-a959c2307500,4ab1ccff-1057-49ca-802f-cf3c3ac5b93b,4dcc2778-a774-4079-9234-4bad76c3a79a"

